# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual environments
venv/
env/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Testing cache
.pytest_cache/
.tox/
.coverage
htmlcov/
.cache/

# MyPy
.mypy_cache/

# Pipenv
Pipfile.lock

# Misc
*.log
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db
